.Pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 0;
  bottom: 0px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.Pagination button {
  border: 1px solid #ccc;
  background-color: #fff;
  font-size: 1rem;
  cursor: pointer;
  margin-left: 10px;
}
.Pagination button:disabled {
  background-color: #927e64;
  border: 1px solid #7e7365;
  color: #ccc;
  cursor: default;
}
.Pagination button:hover:disabled {
  background-color: #AC9980;
  color: #ccc;
  cursor: not-allowed;
}