.App {
  text-align: center;
  width: 100%;
  margin-top: 100px;
  font-family: "Gill Sans", sans-serif;
  font-size: 2.125rem;
}

.App input {
  background-color: white;
  /* background-image: url("searchicon.png"); */
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding-left: 40px;
}

.Todos {
  font-size: 2.125rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  margin-bottom: 36px;
}

  